<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="BouncyCastle.NetCore" version="1.8.5" targetFramework="net472" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net472" />
  <package id="Moq" version="4.13.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.0.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net472" />
  <package id="Nethereum.ABI" version="3.4.0" targetFramework="net472" />
  <package id="Nethereum.Accounts" version="3.4.0" targetFramework="net472" />
  <package id="Nethereum.BlockchainProcessing" version="3.4.0" targetFramework="net472" />
  <package id="Nethereum.Contracts" version="3.4.0" targetFramework="net472" />
  <package id="Nethereum.Hex" version="3.4.0" targetFramework="net472" />
  <package id="Nethereum.JsonRpc.Client" version="3.4.0" targetFramework="net472" />
  <package id="Nethereum.JsonRpc.RpcClient" version="3.4.0" targetFramework="net472" />
  <package id="Nethereum.KeyStore" version="3.4.0" targetFramework="net472" />
  <package id="Nethereum.Model" version="3.4.0" targetFramework="net472" />
  <package id="Nethereum.RLP" version="3.4.0" targetFramework="net472" />
  <package id="Nethereum.RPC" version="3.4.0" targetFramework="net472" />
  <package id="Nethereum.Signer" version="3.4.0" targetFramework="net472" />
  <package id="Nethereum.Util" version="3.4.0" targetFramework="net472" />
  <package id="Nethereum.Web3" version="3.4.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="RestSharp" version="106.6.10" targetFramework="net472" />
  <package id="RichardSzalay.MockHttp" version="5.0.0" targetFramework="net472" />
  <package id="Sila.SDK" version="0.1.0-rc" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net472" />
</packages>